<div class="buffer-bottom">
  <p><%= comment.body %></p>
  <p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <strong><%= comment.user_name %></strong>
      <% end %>
    </span>
    <small><%= l(comment.created_at, format: :long) %></small>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
              fa_icon('trash'),
              event_comment_path(comment.event, comment),
              method: :delete, data: {confirm: t('.destroy_confirm')}
      )%>
    <% end %>
  </p>
</div>
